@import url("https://fonts.googleapis.com/css2?family=Anton&family=DM+Serif+Display:ital@0;1&family=Poetsen+One&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: 0;
}
html {
  font-size: 14px;
  width: 100%;
  height: 100vh;
}
.container {
  display: flex;
}
.left {
  width: 400px;
  height: 100vh;
  background-color: rgb(80, 79, 95);
  color: azure;
}
.right {
  background-color: gainsboro;
  width: 100%;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.left .profile h3 {
  font-family: "Dancing Script", cursive;
}
.left .admin {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid black;
  border-bottom: 3px solid rgb(76, 73, 73);
  border-right: 2px solid gray;
}
.left img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 40px;
  border: 3px solid yellow;
}
.left h3 {
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
  padding-left: 20px;
  padding-top: 30px;
  color: azure;
}
.left .list {
  padding-top: 40px;
}
.list h1 {
  padding-left: 60px;
  font-weight: 400;
  border-bottom: 3px solid rgb(67, 67, 67);
}
.list li {
  padding-left: 5px;
  padding-bottom: 30px;
}
.list ul li a {
  padding: 20px;
  color: azure;
}
.list ul {
  font-size: 20px;
  padding-top: 50px;
}
.list i {
  margin-right: 10px;
  margin-left: 30px;
  color: rgb(238, 214, 55);
}

.list button {
  color: azure;
  padding: 10px 20px;
  margin-left: 10px;
  font-size: 18px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(153, 153, 153);
}
.nav {
  padding-top: 10px;
  background-color: rgb(80, 79, 95);
  color: azure;
}
.nav h2 {
  color: rgb(240, 241, 234);
  padding-right: 20px;
  font-weight: 900;
  font-size: 25px;
}
.over {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.over img {
  width: 40px;
  border-radius: 50%;
  margin-left: 20px;
  margin-right: 10px;
  border: 3px solid #f8fb32;
}

.over i {
  padding-left: 5px;
}
.over h3 {
  display: inline;
  font-size: 28px;
}
.search input {
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 10px;
}
.search i {
  font-size: 10px;
  padding: 10px 16px;
  border: 1px solid rgb(131, 128, 128);
  border-radius: 10px;
  color: azure;
}
.profile {
  display: flex;
  align-items: center;
}
.profile .img img {
  width: 50px;
  border-radius: 50%;
}
.profile .name {
  padding-left: 10px;
  font-size: 30px;
}
.box1 {
  padding: 10px;
  border-radius: 20px;
  margin-top: 50px;
  border: 1px solid rgb(187, 185, 185);
  width: 500px;
  height: 250px;
  margin-left: 70px;
  background-color: rgb(196, 196, 199);
}
.box1 .head {
  display: flex;
  justify-content: space-between;
  width: 400px;
  padding-bottom: 30px;
  font-family: "Times New Roman", Times, serif;
}
.head button {
  padding: 10px 15px;
  border: 1px solid grey;
}
.today {
  padding-left: 10px;
  font-family: "Times New Roman", Times, serif;
}
.low1 {
  padding-right: 10px;
  font-family: "Times New Roman", Times, serif;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 10px;
  background-color: palevioletred;
}

.low2 {
  border-radius: 10px;
  font-family: "Times New Roman", Times, serif;
  margin: 10px;
  padding: 10px 20px;
  background-color: rgb(241, 157, 157);
}
.low3 {
  border-radius: 10px;
  font-family: "Times New Roman", Times, serif;
  margin: 10px;
  padding: 10px 20px;
  background-color: plum;
}
.low4 {
  border-radius: 10px;
  font-family: "Times New Roman", Times, serif;
  margin: 10px;
  padding: 10px 20px;
  background-color: palegreen;
}

.lowerbox {
  display: flex;
}

.box2 {
  border-radius: 20px;
  margin-top: 50px;
  border: 1px solid rgb(245, 245, 245);
  width: 500px;
  margin-left: 80px;
  height: 250px;
  object-fit: cover;
}
.box2 img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  border-radius: 20px;
}
.box3 {
  border-radius: 20px;
  margin-top: 50px;
  border: 1px solid rgb(187, 185, 185);
  width: 100%;
  margin-left: 80px;
  height: 250px;
  object-fit: cover;
  border: 3px solid rgb(74, 74, 74);
}
.box3 img {
  border-radius: 20px;
  height: 250px;
  width: 100%;
  object-fit: cover;
}
.box4 {
  border-radius: 20px;
  margin-top: 50px;
  border: 1px solid rgb(187, 185, 185);
  width: 100%;
  margin-left: 80px;
  height: 255px;
  object-fit: cover;
  border: 3px solid rgb(74, 74, 74);
}
.box4 img {
  border-radius: 20px;
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.layer1 {
  display: flex;
}
.layer2 {
  display: flex;
  justify-content: center;
}
.list ul li :hover {
  background-color: rgb(246, 246, 246);
  color: black;
  padding-right: 150px;
}

#demo {
  position: relative;
  top: 30px;
  left: 40%;
}
#demo input {
  padding: 5px;
  font-size: 30px;
  border-radius: 10px;
}
#demo button {
  background-color: rgb(30, 30, 54);
}
#btn {
  background-color: rgb(34, 34, 82);
  color: aliceblue;
  border-radius: 10px;
}
.main {
  color: white;
  background-color: rgba(0, 0, 0, 0.354);
}
